// Fonts
@font-face {
    font-family: "Arial";
    src: url(/fonts/arial.ttf);
}

html {
    font-family: "Arial", sans-serif !important;
}

// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-toggler {
    background-color: #ff0000 !important;
}


/**
  start coding for new design home page
**/

.new--navbar {
    background-color: #f2effd;
    font-family: "Work Sans", sans-serif !important;
    .nav-link {
        font-weight: 500 !important;
    }
}

.post-job-button {
    background: #ff0000;
    border-radius: 10px;
    color: #fff;
    padding: 12px 20px;
    transition: 0.3s all ease;
    font-weight: 500 !important;
    &:hover {
        background-color: #d11313 !important;
        text-decoration: none;
    }
}

.custom__back {
    img {
        width: 40px;
    }
}

.custom-img-setting {
    margin-bottom: -180px;
}

.custom--section-main {
    padding-top: 100px;
}

.home-page {
    font-family: "Work Sans", sans-serif !important;
}

.custom--new-section {
    img {
        width: 55px;
    }
    h2 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 600;
        font-size: 47px;
    }
    h3 {
        font-weight: 400;
        font-size: 23px;
        padding-bottom: 10px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 20px;
    }
    .custom--list {
        padding-top: 30px;
        span {
            font-weight: 500;
            font-size: 27px;
            display: block;
        }
    }
}

.footer-section {
    font-family: "Work Sans", sans-serif !important;
}

.personality--aptitude-main {
    background-color: white;
    padding: 50px 0;
    .common-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        box-shadow: 0px 0px 20px -2px #eaeaff;
        border-radius: 10px;
        min-height: 360px;
        img {
            margin-bottom: 30px;
        }
        h2 {
            font-weight: 500;
            font-size: 27px;
            text-align: center;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }
    }
}

.question--answer-area {
    .question--answer-header {
        h2 {
            padding-top: 15px;
            font-size: 47px;
            font-weight: bold;
        }
        p {
            font-size: 23px;
            font-weight: 300;
            a {
                color: #6d5387;
                font-weight: 500;
            }
        }
    }
    .tab--area {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            li {
                margin: 0 15px;
                border-radius: 50px;
                padding: 5px 30px;
                font-weight: 400;
                color: #000;
                cursor: pointer;
                font-size: 19px;
            }
        }
    }
    .tab--area ul li.current {
        background-color: #6d5387;
        color: white;
    }
    .tab-content {
        display: none;
    }
    .tab-content.current {
        display: inherit;
    }
    .accordion-container {
        position: relative;
        height: auto;
    }
    .set {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #f5f5f5;
        border-radius: 10px;
        margin: 20px 0px;
    }
    .set>a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        font-size: 23px;
        text-decoration: none;
        color: rgb(34, 34, 34);
        font-weight: 600;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
        &:focus {
            outline: none;
        }
        i {
            font-size: 16px;
        }
    }
    .set>a i {
        float: right;
        margin-top: 2px;
    }
    .content {
        background-color: #f5f5f5;
        display: none;
        border-radius: 10px;
    }
    .content p {
        padding: 10px 30px 40px 30px;
        margin: 0;
        color: #333;
        font-weight: 400;
        font-size: 16px;
    }
}

.search__form {
    padding: 10px 0;
}

.form--search {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    .custom-form-group {
        border-right: 1px solid #ccc;
        padding: 0 10px;
        label {
            width: 100%;
            font-weight: 500;
            color: #000;
            text-align: left;
            font-size: 16px;
        }
    }
    .custom-from-control {
        width: 100%;
        border: none;
        color: #5d5d5d;
        padding: 5px 0;
        &:focus {
            outline: none;
        }
    }
    select.custom-from-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("/images/new-img/dropdown.png");
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%;
        background-size: 0.65em auto;
    }
    .custom-form-btn {
        padding: 15px 30px;
        cursor: pointer;
        background-color: #ff0000;
        border: none;
        color: white;
        border-radius: 10px;
        font-weight: 500;
        img {
            padding-left: 5px;
        }
    }
}

.footer--new {
    display: flex;
    justify-content: space-between;
}

.top--nav {
    padding: 5px;
    background: #63508a;
    ul {
        justify-content: end;
        li {
            padding: 0 20px;
            a {
                color: white;
                font-weight: 600;
            }
        }
    }
}