.employer-detail-main {
	margin: 0px;
}
.single-dashboard-link{
	padding: 10px 5px !important;
	height: 100%;
}
.single-dashboard-link p{ 
	font-size: 14px;
}
#pending_div label {
	color: #736f6f;
	display: flex !important;
	align-items: center;
	margin: 0;
}
#pending_div label input{
	margin-right: 5px;
}
#completed_div label {
	color: #736f6f;
	display: flex !important;
	align-items: center;
	margin: 0;
}
#completed_div label input{
	margin-right: 5px;
}

#pending_div .form-group { 
	display: flex;
	justify-content: space-between;
	background: #f4f4f4;
	padding: 5px 10px;
	margin-bottom: 5px;
	align-items: center;
	border-radius: 5px;
}
#completed_div  .form-group { 
	display: flex;
	justify-content: space-between;
	background: #f4f4f4;
	padding: 5px 10px;
	margin-bottom: 5px;
	align-items: center;
	border-radius: 5px;
}
.createTodoBtn{
	cursor: pointer;
}
.employer-page .row {
	margin-right: -15px ;
}

.teams__all .username{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.teams__all .email {
	font-size: 16px;
	font-weight: normal;
}
.teams__all .action{
	margin-top: 10px;
}
.header-company-profile img { 
	width: 130px;
}
@media (max-width: 600px) {
	.employer-page .col-sm-6.px-1{
		padding: 0px 15px !important; 
	}
}
@media (max-width: 991px) {
	.header-company-profile img {
		height: 96px;
		width: 96px;  
	}
}

.navbar-dark .navbar-nav .nav-link { 
	margin-right: 5px; 
	padding: 10px 15px 10px 15px;
}

.top-authentication-links {
	display: flex;
	align-items: center;
}
#navbarResponsive { 
	align-items: center;
}
 
.message__hidden{
	display: inline-block;
}
.hidden_sm_job_text{
	display: inline-block;
}
@media (max-width: 1191px) {
 .message__hidden{
	 display: none;
 }
 .hidden_sm_job_text{
	 display: none;
 }
}
.account-img {
	max-width: 30px;
	height: 30px;
	width: 30px;
}
.category-item-title{
	color: red;
}
.top-authentication-links .dropdown-menu { 
	top: 100%;
	right: 0; 
	left: auto;
}
.nav-container{
	label{
		margin: 0;
		padding-right: 10px;
	}
	.sidebar {
		top: 80px !important; 
	}
	#sidebar_btn {
		width: 45px;
		box-shadow: none;
		background: #ff7c39;
		&:hover{
			background: #f7712f;
			color: white;
		}
	}
	#sidebar_close {
		width: 45px;
		box-shadow: none;
		background: #ff7c39;
		&:hover{
			background: #f7712f;
			color: white;
		}
	}
	.post-job-button { 
		&:hover{
			background: #f7712f;
			color: white;
		}
	}
}

.content__area {
	min-height: 50vh;
}
.loading  { 
	display: flex;
	justify-content: center;
	align-content: center;
}
.employer-page .active {
	border-top: 5px solid #534bb4;
	box-shadow: 11px 10px 10px -13px grey;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(50, 50, 50);
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
 
  .item {
	width: 150px;
	padding: 0px 5px;
}
.companies-more i {
	font-size: 64px !important; 
}
.custom__title{
	font-weight: 600;
	font-size: 34px;
	margin-top: 50px;
	text-align: left;
}
.custom__description{ 
		color: #fff;
		font-size: 40px;
		padding-bottom: 26px;
		font-weight: bold;
		text-align: left; 
}
.input__city .form-control{
	border: none !important; 
}
.job-searchbox{ 

	padding: 0px 10px 0px 20px !important; 
	width: 100%;
	.input__search{
		flex: 2
	}
	.input__city{
		flex: 2
	}
	#dropdownMenuButton { 
		border: none;
		padding: 12px 15px;
		border-radius: 0; 
	}
	.dropdown {
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		button{
			background: transparent;
		}
	}
	.input__submit {
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			border: none;
			padding: 10px;
			background: transparent;
			font-size: 18px;
			color: #707070;
		}
	}
	.form-control{ 
		height: 50px;
		border-color:  #ccc !important;
	}
	
}
.advanced__search{ 
	.advanced__search_btn{
		border: none;
		padding: 10px 20px;
		background: #fff;
		font-size: 18px;
		color: #707070;
		border-radius: 20px;
	}
}
.search__form {
	padding: 10px;
	background: #3558cab8;
}
.trending_job_cetegory{
	padding: 50px 0;
	.trending__title{
		font-size: 24px;
	}
	.trending__tag{
		list-style: none;
		display: flex;
		flex-wrap: wrap;
 		li {
			margin: 5px;
			background: #eee;
			padding: 8px 15px;
			border-radius: 50px;
			box-shadow: 0px 0px 5px -1px #b9b9b9;
		}
	}
}.row {
    margin-right: -15px;
}
.single-employer {
	padding: 10px 15px; 
}
.single-job-short { 
	box-shadow: 0px 4px 16px -4px #80808026;
	border-radius: 10px;
}
.single-employer:hover { 
	box-shadow: 0px 5px 20px -5px #808080ad; 
}
.jobs .nav-tabs { 
	padding-left: 5px; 
}
.feature__recent_job {
	display: flex;
	justify-content: center;
}
.single-carousel-item{
	width: 100% !important;
	
}
.custom__search_bar{
	display: flex;
}
.job-searchbox .input__submit { 
	border-right: 1px solid #ccc;
}
.job-searchbox .input__submit button { 
	padding: 10px 15px; 
}
.job-searchbox{
	display: flex;
}
.advanced__seach_show{ 
	display: none;
	padding: 15px 13px 5px 20px;
	text-align: left;
}
 
