input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #000;
    background-color: #dff0d842;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #f2dede30;
    border: 1px solid #B94A48;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

#loginForm .parsley-errors-list {
    margin: 43px 0 3px!important;
    position: absolute;
}

#contact-form-area .parsley-errors-list,
.parsley--message .parsley-errors-list {
    margin: 43px 0 3px!important;
    position: absolute;
}

#message~.parsley-errors-list {
    margin: 5px 0 3px!important;
}

.parsley-errors-list.filled {
    opacity: 1;
}